<div class="">
  <ion-list> 
  <ion-grid> 
    <ion-row> 
  <ion-col >
      <ion-card button="true" color="#f5f6f9">
        <img src="{{pList.imagePath}}">
          <ion-card-content> 
            <ion-card-header>
              <h2>{{pList.placeName}}</h2> 
            </ion-card-header>
          <ion-card-title><b><h1> {{pList.description}}</h1></b> </ion-card-title>
           <p>{{pList.location}}
         </ion-card-content>
         
        <ion-button (click) ="openBookings()" shape="round" size="small" style="font-size: 8pt;">
          <span style="padding-left: 10%; margin-right: 15%;">
            Book
        </span></ion-button>  
      </ion-card> 
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-list>
</div>