<div class="">
  <ion-list> 
  <ion-grid> 
    <ion-row> 
  <ion-col *ngFor ="let item of placeDetail">
      <ion-card button="true" color="#f5f6f9">
        <img src="{{item.imagePath}}">
          <ion-card-content> 
            <h2>{{item.placeName}}</h2> 
          <ion-card-title><b><h1> {{item.description}}</h1></b> </ion-card-title>
           <p>{{item.location}}
         </ion-card-content>
         
        <ion-button  shape="round" size="small" style="font-size: 8pt;"><span style="padding-left: 10%; margin-right: 15%;">Book</span></ion-button>  
      </ion-card> 
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-list>
</div>