.button-action {
    margin-top: 40%;
    text-align: center;

}


.text-center {
    margin: 25%;
    text-align: center;
    font-size: large;
    color: rgb(243, 243, 243);
    font-family: "Lucida Console", "Courier New", monospace;
}

.ion-padding{
    margin-top: 10%;
    .ion-input {
        --ion-background-color: transparent ;
    
}

.ion-button {
    margin-top: 15%;
}

}
.ha{
    margin: auto;
    float: right;
}

ion-content {
    --background: none;
    background-image: url('/assets/images/mn.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

 