<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>Explore</ion-title>

</ion-toolbar>
</ion-header>



<ion-content> 
  
  <div class="categoryName">
    
    <ion-row >
      <ion-col >
        <ion-card>
          <button (click)="presentModal()">
              <img src="\assets\images\beachresort.jpg"> 
          </button>
          <ion-card-header>
            <ion-card-title>Beach Resorts</ion-card-title>
          </ion-card-header>
          
        </ion-card>
      </ion-col>
      <ion-col> 
        <ion-card>
          <button (click)="presentModal()">
            <img src="\assets\images\botanical.jpg"> 
        </button>
        <ion-card-header>
          <ion-card-title>Botanical Gardens</ion-card-title>
        </ion-card-header>
     </ion-card> 
     </ion-col>
    
    </ion-row>

    <ion-row> 
    <ion-col> 
      <ion-card>
        <button (click)="presentModal()">
          <img src="\assets\images\caves.jpg"> 
      </button>
      <ion-card-header>
        <ion-card-title>Caves</ion-card-title>
      </ion-card-header>
           
      </ion-card>
    </ion-col>
    <ion-col> 
      <ion-card>
        <button (click)="presentModal()">
          <img src="\assets\images\inland-resort.jpg"> 
      </button> 
      <ion-card-header>
        <ion-card-title>Inland Resorts</ion-card-title>
      </ion-card-header>

   </ion-card> 
    

   </ion-col> 
   
</ion-row>


  </div>


</ion-content>
 
