.search {   
    background-image: url("/assets/images/mainpic2.png" );
    height: 250px;
    width: 380px;
    background-position: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
     text-align: center;
    letter-spacing: 0px;
    word-spacing: 0.4px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    
    

}




.top {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 0.4px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

