
<ion-content> 
  
  <div class="search">
    <ion-searchbar  style=" width: 90vw; margin: 0 auto;display:block;position:center;top:150px;" > </ion-searchbar>
    <p> Are you ready for your next<br> Adventure? </p>
  </div>

 
  <!-- dapat sa tunga2 ang searchbar then background pic
       sa ubos kay -->
  

<div class="top"> 
 <ion-label>Top Destinations </ion-label> 
  <ion-slides >
    <ion-slide *ngFor="let i of top">
      <ion-card>
        <img src="{{i.imagePath}}">
        <ion-card-content>
        <h1>{{i.placeName}}</h1>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>
<div class="top_beach"> 
  <ion-label> This week's top Beach Resorts</ion-label>
  <ion-slides >
    <ion-slide *ngFor="let i of bc">
      <ion-card>
        <img src="{{i.imagePath}}">
        <ion-card-content>
        <h1>{{i.placeName}}</h1>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>

<div class="top_inland"> 
  <ion-label> This week's top Inland Resorts</ion-label>
  <ion-slides >
    <ion-slide *ngFor="let i of il">
      <ion-card>
        <img src="{{i.imagePath}}">
        <ion-card-content>
        <h1>{{i.placeName}}</h1>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>
<div class="top_botanical"> 
  <ion-label>Instagram worthy getaway</ion-label>
  <ion-slides >
    <ion-slide *ngFor="let i of bot">
      <ion-card>
        <img src="{{i.imagePath}}">
        <ion-card-content>
        <h1>{{i.placeName}}</h1>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>








<!--
        <ion-buttons slot="end"> 
          <ion-button  color="" (click)="notif()"> 
            <ion-icon name="notifications-sharp"> </ion-icon>
          </ion-button>
          <ion-button color="" (click)="chat()"> 
            <ion-icon name="chatbubble-sharp"> </ion-icon>
          </ion-button>

       <ion-button (click)="logout()">
        <ion-icon name="log-out"> </ion-icon>
      </ion-button> 

    </ion-buttons>
    -->
  </ion-content>