<ion-content>
 
  <ion-button [routerLink]="['/login']" fill="clear"> <p> < </p> </ion-button>
  <ion-row color="primary" justify-content-center></ion-row>

  <div class ="text-center"> 
    <p> Create you account. </p>
  </div>

  <div class="ion-padding">
 
    <ion-item>
      <ion-input  name="name" type="text" placeholder="name"  [(ngModel)]="credentials.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="credentials.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" type="password" placeholder="password" [(ngModel)]="credentials.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="confirmPassword" type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
    <ion-button color="light" shape="round" fill="solid" expand="block" (click)="register()"> Sign-up </ion-button>

  </div>

   



</ion-content>